.k  { color: #fff; font-weight: bold }   /* Keyword */
.kn { color: #fff; font-weight: bold }   /* Keyword.Namespace */
.kc { color: #fff; font-weight: bold }   /* Keyword.Constant */
.kd { color: #fff; font-weight: bold }   /* Keyword.Declaration */
.kp { color: #fff }                      /* Keyword.Pseudo */
.kr { color: #fff; font-weight: bold }   /* Keyword.Reserved */
.kt { color: #fff }                      /* Keyword.Type */

.c  { color: #fff; font-style: italic }  /* Comment */
.cm { color: #fff; font-style: italic }  /* Comment.Multiline */
.cp { color: #fff }                      /* Comment.Preproc */
.c1 { color: #fff; font-style: italic }  /* Comment.Single */
.cs { color: #fff; font-style: italic }  /* Comment.Special */

.gd { color: #fff }                      /* Generic.Deleted */
.gr { color: #fff }                      /* Generic.Error */
.gh { color: #fff; font-weight: bold }   /* Generic.Heading */
.gi { color: #fff }                      /* Generic.Inserted */
.go { color: #fff }                      /* Generic.Output */
.gp { color: #fff; font-weight: bold }   /* Generic.Prompt */
.gu { color: #fff; font-weight: bold }   /* Generic.Subheading */
.gt { color: #fff }                      /* Generic.Traceback */
.ge { font-style: italic }               /* Generic.Emph */
.gs { font-weight: bold }                /* Generic.Strong */

.n  { color: #fff }                      /* Name */
.na { color: #fff }                      /* Name.Attribute */
.nb { color: #fff }                      /* Name.Builtin */
.nc { color: #fff; font-weight: bold }   /* Name.Class */
.no { color: #fff }                      /* Name.Constant */
.nd { color: #fff }                      /* Name.Decorator */
.ni { color: #fff; font-weight: bold }   /* Name.Entity */
.ne { color: #fff; font-weight: bold }   /* Name.Exception */
.nf { color: #fff }                      /* Name.Function */
.nl { color: #fff }                      /* Name.Label */
.nn { color: #fff; font-weight: bold }   /* Name.Namespace */
.nt { color: #fff; font-weight: bold }   /* Name.Tag */
.bp { color: #fff }                      /* Name.Builtin.Pseudo */
.nv { color: #fff }                      /* Name.Variable */
.vc { color: #fff }                      /* Name.Variable.Class */
.vg { color: #fff }                      /* Name.Variable.Global */
.vi { color: #fff }                      /* Name.Variable.Instance */

.m  { color: #fff }                      /* Literal.Number */
.mi { color: #fff }                      /* Literal.Number.Integer */
.il { color: #fff }                      /* Literal.Number.Integer.Long */
.mb { color: #fff }                      /* Literal.Number.Bin */
.mo { color: #fff }                      /* Literal.Number.Oct */
.mh { color: #fff }                      /* Literal.Number.Hex */
.mf { color: #fff }                      /* Literal.Number.Float */

.s  { color: #fff }                      /* Literal.String */
.sb { color: #fff }                      /* Literal.String.Backtick */
.sc { color: #fff }                      /* Literal.String.Char */
.sd { color: #fff; font-style: italic }  /* Literal.String.Doc */
.s2 { color: #fff }                      /* Literal.String.Double */
.se { color: #fff; font-weight: bold }   /* Literal.String.Escape */
.sh { color: #fff }                      /* Literal.String.Heredoc */
.si { color: #fff; font-weight: bold }   /* Literal.String.Interpol */
.sx { color: #fff }                      /* Literal.String.Other */
.sr { color: #fff }                      /* Literal.String.Regex */
.s1 { color: #fff }                      /* Literal.String.Single */
.ss { color: #fff }                      /* Literal.String.Symbol */

.o  { color: #fff }                      /* Operator */
.ow { color: #fff; font-weight: bold }   /* Operator.Word */

.err { border: 1px solid #FF0000 }       /* Error */
.w   { color: #bbbbbb }                  /* Text.Whitespace */

