.highlight { color: #dcdccc; background-color: #2c2c2c }    /* Default */
.lineno    { color: #ddddaa; font-style: italic }           /* Line number */

.k  { color: #60b48a; font-weight: bold }   /* Keyword */
.kn { color: #60b48a; font-weight: bold }   /* Keyword.Namespace */
.kc { color: #60b48a; font-weight: bold }   /* Keyword.Constant */
.kd { color: #60b48a; font-weight: bold }   /* Keyword.Declaration */
.kp { color: #60b48a }                      /* Keyword.Pseudo */
.kr { color: #60b48a; font-weight: bold }   /* Keyword.Reserved */
.kt { color: #60b48a }                      /* Keyword.Type */

.c  { color: #709080; font-style: italic }  /* Comment */
.cm { color: #709080; font-style: italic }  /* Comment.Multiline */
.cp { color: #709080 }                      /* Comment.Preproc */
.c1 { color: #709080; font-style: italic }  /* Comment.Single */
.cs { color: #709080; font-style: italic }  /* Comment.Special */

.gd { color: #A00000 }                      /* Generic.Deleted */
.gr { color: #FF0000 }                      /* Generic.Error */
.gh { color: #000080; font-weight: bold }   /* Generic.Heading */
.gi { color: #00A000 }                      /* Generic.Inserted */
.go { color: #888888 }                      /* Generic.Output */
.gp { color: #000080; font-weight: bold }   /* Generic.Prompt */
.gu { color: #800080; font-weight: bold }   /* Generic.Subheading */
.gt { color: #0044DD }                      /* Generic.Traceback */
.ge { font-style: italic }                  /* Generic.Emph */
.gs { font-weight: bold }                   /* Generic.Strong */

.na { color: #7D9029 }                      /* Name.Attribute */
.nb { color: #008000 }                      /* Name.Builtin */
.nc { color: #9AB8D7; font-weight: bold }   /* Name.Class */
.no { color: #880000 }                      /* Name.Constant */
.nd { color: #AA22FF }                      /* Name.Decorator */
.ni { color: #999999; font-weight: bold }   /* Name.Entity */
.ne { color: #D2413A; font-weight: bold }   /* Name.Exception */
.nf { color: #9AB8D7 }                      /* Name.Function */
.nl { color: #A0A000 }                      /* Name.Label */
.nn { color: #9AB8D7; font-weight: bold }   /* Name.Namespace */
.nt { color: #008000; font-weight: bold }   /* Name.Tag */
.bp { color: #008000 }                      /* Name.Builtin.Pseudo */
.nv { color: #8CD0D3 }                      /* Name.Variable */
.vc { color: #8CD0D3 }                      /* Name.Variable.Class */
.vg { color: #8CD0D3 }                      /* Name.Variable.Global */
.vi { color: #8CD0D3 }                      /* Name.Variable.Instance */

.m  { color: #666666 }                      /* Literal.Number */
.mi { color: #666666 }                      /* Literal.Number.Integer */
.il { color: #666666 }                      /* Literal.Number.Integer.Long */
.mb { color: #666666 }                      /* Literal.Number.Bin */
.mo { color: #666666 }                      /* Literal.Number.Oct */
.mh { color: #666666 }                      /* Literal.Number.Hex */
.mf { color: #666666 }                      /* Literal.Number.Float */

.s  { color: #BA2121 }                      /* Literal.String */
.sb { color: #BA2121 }                      /* Literal.String.Backtick */
.sc { color: #BA2121 }                      /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic }  /* Literal.String.Doc */
.s2 { color: #BA2121 }                      /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold }   /* Literal.String.Escape */
.sh { color: #BA2121 }                      /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold }   /* Literal.String.Interpol */
.sx { color: #008000 }                      /* Literal.String.Other */
.sr { color: #BB6688 }                      /* Literal.String.Regex */
.s1 { color: #BA2121 }                      /* Literal.String.Single */
.ss { color: #8CD0D3 }                      /* Literal.String.Symbol */

.o  { color: #666666 }                      /* Operator */
.ow { color: #AA22FF; font-weight: bold }   /* Operator.Word */

.err { border: 1px solid #FF0000 }          /* Error */
.w   { color: #bbbbbb }                     /* Text.Whitespace */
