.k  { color: #6c2; font-weight: bold }  /* Keyword */
.kc { color: #6c2; font-weight: bold }  /* Keyword.Constant */
.kd { color: #6c2; font-weight: bold }  /* Keyword.Declaration */
.kn { color: #6c2; font-weight: bold }  /* Keyword.Namespace */
.kp { color: #6c2 }                     /* Keyword.Pseudo */
.kr { color: #6c2; font-weight: bold }  /* Keyword.Reserved */
.kt { color: #6c2 }                     /* Keyword.Type */

.c  { color: #aaa; font-style: italic } /* Comment */
.c1 { color: #aaa; font-style: italic } /* Comment.Single */
.cm { color: #aaa; font-style: italic } /* Comment.Multiline */
.cp { color: #c33; font-weight: bold }  /* Comment.Preproc */
.cs { color: #e11; font-style: italic } /* Comment.Special */

.gd { color: #d22 }                     /* Generic.Deleted */
.ge { color: #ddd; font-style: italic } /* Generic.Emph */
.gh { color: #fff; font-weight: bold }  /* Generic.Heading */
.gi { color: #6a2 }                     /* Generic.Inserted */
.gl { color: #464; font-style: italic; padding-right:10px; user-select: none; } /* Generic.Linenos */

.go { color: #ddd }                     /* Generic.Output */
.gp { color: #bbb; font-weight: bold }  /* Generic.Prompt */
.gr { color: #d22 }                     /* Generic.Error */
.gs { color: #ddd; font-weight: bold }  /* Generic.Strong */
.gt { color: #d22 }                     /* Generic.Traceback */
.gu { color: #fff; font-weight: bold }  /* Generic.Subheading */

.bp { color: #29a }                     /* Name.Builtin.Pseudo */

.n  { color: #ddd }                     /* Name */
.na { color: #ccc }                     /* Name.Attribute */
.nb { color: #29a }                     /* Name.Builtin */
.nc { color: #48d; font-weight: bold }  /* Name.Class */
.nd { color: #fa0 }                     /* Name.Decorator */
.ni { color: #ddd; font-weight: bold }  /* Name.Entity */
.ne { color: #ccc; font-weight: bold }  /* Name.Exception */
.nf { color: #48d }                     /* Name.Function */
.nl { color: #ddd }                     /* Name.Label */
.nn { color: #48d; font-weight: bold }  /* Name.Namespace */
.no { color: #4ff }                     /* Name.Constant */
.nt { color: #6c2; font-weight: bold }  /* Name.Tag */
.nv { color: #4ff }                     /* Name.Variable */

.vc { color: #4ff }                     /* Name.Variable.Class */
.vg { color: #4ff }                     /* Name.Variable.Global */
.vi { color: #4ff }                     /* Name.Variable.Instance */

.p  { color: #ddd }                     /* Puncuation */

.il { color: #37b }                     /* Literal.Number.Integer.Long */

.m  { color: #37b }                     /* Literal.Number */
.mb { color: #37b }                     /* Literal.Number.Bin */
.mf { color: #37b }                     /* Literal.Number.Float */
.mh { color: #37b }                     /* Literal.Number.Hex */
.mi { color: #37b }                     /* Literal.Number.Integer */
.mo { color: #37b }                     /* Literal.Number.Oct */

.s  { color: #fa1 }                     /* Literal.String */
.s2 { color: #fa1 }                     /* Literal.String.Double */
.sb { color: #fa1 }                     /* Literal.String.Backtick */
.sc { color: #fa1 }                     /* Literal.String.Char */
.sd { color: #fa1; font-style: italic } /* Literal.String.Doc */
.se { color: #fa1; font-weight: bold }  /* Literal.String.Escape */
.sh { color: #fa1 }                     /* Literal.String.Heredoc */
.si { color: #fa1; font-weight: bold }  /* Literal.String.Interpol */
.s1 { color: #fa1 }                     /* Literal.String.Single */
.sr { color: #fa1 }                     /* Literal.String.Regex */
.ss { color: #fa1 }                     /* Literal.String.Symbol */
.sx { color: #fa0 }                     /* Literal.String.Other */

.o  { color: #ddd }                     /* Operator */
.ow { color: #7c2; font-weight: bold }  /* Operator.Word */

.x  { color: #ddd }                     /* Other */

.err { border: 1px solid #f00 }         /* Error */
.w   { color: #bbb }                    /* Text.Whitespace */


