<div class="navbar">
    {% if page.previous %}
       {% if page.previous.subtitle %}
            <a href="{{ page.previous.url }}" id="prev">{{ page.previous.title }} - {{ page.previous.subtitle }}</a>
        {% else %}
            <a href="{{ page.previous.url }}" id="prev">{{ page.previous.title }}</a>
        {% endif %}
    {% endif %}

    {% if page.next %}
        {% if page.next.subtitle %}
            <a href="{{ page.next.url }}" id="next">{{ page.next.title }} - {{ page.next.subtitle }}</a>
        {% else %}
            <a href="{{ page.next.url }}" id="next">{{ page.next.title }}</a>
        {% endif %}
    {% endif %}

    <br>

    <a href="{{ page.url }}"><div class="pagetitle">{{ page.title }}<br>{{ page.subtitle }}</div></a>

    <div class="metadata">
        <small><i>Categories</i>: {% for category in page.categories %} <a href="{{ site.url }}/categories.html#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}, <i>Tags</i>: {% for tag in page.tags %} <a href="{{ site.url }}/tags.html#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %} , {% endunless %}{% endfor %} <i>Published on</i>: <a href="{{ site.url }}/years.html#{{ page.date | date: "%Y" | slugify }}">{{ page.date | date: "%Y-%m-%d" }}</a></small>
    </div>
</div>

<br>

