---
layout: default
---

{% if page.previous %}
    <a href="{{ page.previous.url }}">Previous</a>
{% endif %}

<a href="/">Home</a>

{% if page.next %}
    <a href="{{ page.next.url }}">Next</a>
{% endif %}

<h2>{{ page.title }}</h2>

<small><i>Categories</i>: {{ page.categories | array_to_sentence_string }}, <i>Tags</i>: {{ page.tags | array_to_sentence_string }}, <i>Published on</i> {{ page.date | date: "%Y-%m-%d" }}</small>

<hr>

{{ content }}

{% if page.previous %}
    <a href="{{ page.previous.url }}">Previous</a>
{% endif %}

<a href="/">Home</a>

{% if page.next %}
    <a href="{{ page.next.url }}">Next</a>
{% endif %}

