---
layout: default
---

{% include headnavbar.html %}

<div class="post">
{% if page.series or page.repo %}
    <blockquote>
    {% if page.series %}
        <p>This is part of a series of posts.</p>
        <ul>
        {% for post in site.posts reversed %}
        {% if post.series == page.series %}
        {% if post.url == page.url %}
        {% if post.subtitle %}
            <li>{{ post.title }} - {{ post.subtitle }}</li>
        {% else %}
            <li>{{ post.title }}</li>
        {% endif %}
        {% else %}
        {% if post.subtitle %}
            <li><a href="{{ post.url }}">{{ post.title }} - {{ post.subtitle }}</a></li>
        {% else %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    {% if page.repo %}
        <p>Code relevant to this post is available at <a href="{{ page.repo }}">this repository</a>.</p>
    {% endif %}
    </blockquote>
    {% endif %}

{{ content }}
</div>

<br>

{% include footnavbar.html %}

{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'dekonvoluted';

    (function()
     {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

